<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="title">
            <h2><a href="/">ExpressAli Regist</a></h2>
        </div>
    </header>
    <div class="container">
        <p>Regist</p>
        <div class="regist-form">
            <p><input type="text" name="id" id="id" placeholder="ID" required></p>
            <p><div id="id-error-msg" class="error-msg"></div></p>
            <p><input type="text" name="password" id="password" placeholder="Password" required></p>
            <p><div id="password-error-msg" class="error-msg"></div></p>
            <input type="submit" id="regist-submit">
        </div>
        <a href="/login">go to login</a>
    </div>
</body>
<script src="./../db.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    console.log('Successfully regist html Enter')
    
    const inputId = document.querySelector('.regist-form #id');
    const inputPassword = document.querySelector('.regist-form #password');
    const idErrorMsg = document.querySelector('.regist-form #id-error-msg');
    const passwordErrorMsg = document.querySelector('.regist-form #password-error-msg');
    const submitBtn = document.querySelector('.regist-form #regist-submit');

    submitBtn.addEventListener('click', function() {

        console.log('Successfully onClick Event Enter');

        var id = inputId.value;
        var password = inputPassword.value;

        if (id == null || id == undefined || id == "") {
            console.log("Cannot read id");
            idErrorMsg.textContent = "아이디를 입력해주세요";
            return;
        }
        idErrorMsg.textContent = "";
        if (password == null || password == undefined || password == "") {
            console.log("Cannot read password");
            passwordErrorMsg.textContent = "비밀번호를 입력해주세요";
            return;
        }
        passwordErrorMsg.textContent = "";
        $.ajax({
            type: "post",  // fetch의 method 기능
            url: "http://localhost:3000/process_regist", // json 넣어놨음
            // 메타데이터 타입을 명시해주면, ajax가 자동으로 js오브젝트로 파싱해준다
            dataType: "json",
            data: {
                'id': id,
                'password': password,
            },
            success: function(res) {
                console.log("Successfully ajax communication")
                console.log(res);
                if(res.code == 200){  
                    // alert('Create ID Completed');
                    window.location.href = "/";
                }
            },
            error: function(req, status, err) {
                console.log("Faild ajax communication");
                console.log(`Status Code is ${status}`);
                console.log(err.responseText);
                idErrorMsg.textContent = "이미 있는 아이디입니다";
            }
        });
    })
</script>
</html>